In [190]:
from lxml import html
import requests
import sys
import pandas as pd
import numpy as np

class Tester(object):

    def __init__(self, name):
        self.name = str(name).upper().strip()
        
        #set up empty dataframe 
        self.titles = ['Time','Price','ShareVolume','']
        day_list = []
        #loop for different webpages/time frames (1-13)
        for j in range(1,14):
            #find number of pages for each time frame
            page = requests.get("http://www.nasdaq.com/symbol/" + self.name + '/time-sales?time=' + str(j))
            tree = html.fromstring(page.content)
            page_text = page.text
                    
            #find numbers from chart in html
            info_start = page_text.find('class="pagerlink"')
            info_end = page_text.find('" id="quotes_content_left_lb_LastPage"')
            info = page_text[info_start:info_end] 
            num = info[-2:]
            num = num.replace('=','')
                    
            #try while loop: while there is a next page? (1-(4:67)ish)
            #for i in range(1,2):
            for i in range(1,int(num)+1):
                
                try:
                    #get webpage in html content
                    self.page = requests.get("http://www.nasdaq.com/symbol/" + self.name + '/time-sales?time=' + str(j) +'&pageno=' + str(i))
                    self.tree = html.fromstring(self.page.content)
                    self.page_text = self.page.text
                    
                    #find numbers from chart in html
                    info_start = self.page_text.find('</thead>')
                    info_end = self.page_text.find('<div id="quotes_content_left__panelLowerNav')
                    self.info = self.page_text[info_start:info_end] 
                    
                    #strip of unnecessary spaces, etc
                    day = self.info.split("</tr>")
                    day_new = [days.replace("\r\n","") for days in day]
                    day1 =  [y.replace(" ","") for y in day_new]
                    day2 = [y.replace('<td>','') for y in day1]
                    day3 = [y.replace('</thead>','') for y in day2]
                    day4 = [y.replace('&nbsp;','') for y in day3]
                    day5 = [y.replace('<tr>','') for y in day4]
                    day6 = [y.replace('</div>','') for y in day5]
                    day7 = [y.replace('</table>','') for y in day6]
                    day8 = [y.replace('\t','') for y in day7]
                    
                    #split by day and add to dataframe
                    day_list += [x.split("</td>") for x in day8]
                    
                    self.data = pd.DataFrame(day_list,columns=self.titles)
                    
                except Exception as e:
                    print("ERROR:\n" + str(e.args) + "\n\nTerminating execution...")
                    sys.exit()
                    
        data = pd.DataFrame(day_list,columns=self.titles)
        self.data = data[['Time', 'Price']]
        
    def get_table(self):
        #get rid of whitespace row and column
        data = self.data.drop(self.data.index[len(self.data)-1])
        
        #strip numbers in dataframe of $, and get time frame correct
        data['Price'] = data['Price'].str.replace(",","")
        data['Price'] = data['Price'].str.strip('$').astype('float64') 
        
        #make time be each minute instead of by seconds
        data['Time'] = pd.to_datetime(data['Time'])
        data = data.set_index('Time')
        self.data = data.resample('T').mean()
        
        #np.savetxt('STAT485Day1.csv',data)
        
        return self.data
    
    
share=Tester('goog')
share.get_table()

                           Price
Time
2018-02-18 09:30:00  1088.505649
2018-02-18 09:31:00  1093.330868
2018-02-18 09:32:00  1090.111808
2018-02-18 09:33:00  1089.189895
2018-02-18 09:34:00  1090.479667
2018-02-18 09:35:00  1092.151250
2018-02-18 09:36:00  1094.003400
2018-02-18 09:37:00  1094.870950
2018-02-18 09:38:00  1096.058340
2018-02-18 09:39:00  1096.201960
2018-02-18 09:40:00  1097.885837
2018-02-18 09:41:00  1097.871296
2018-02-18 09:42:00  1097.961905
2018-02-18 09:43:00  1096.865769
2018-02-18 09:44:00  1095.611667
2018-02-18 09:45:00  1095.158800
2018-02-18 09:46:00  1096.602429
2018-02-18 09:47:00  1096.798000
2018-02-18 09:48:00  1097.636667
2018-02-18 09:49:00  1098.468269
2018-02-18 09:50:00  1098.582389
2018-02-18 09:51:00  1098.803750
2018-02-18 09:52:00  1098.763595
2018-02-18 09:53:00  1099.386313
2018-02-18 09:54:00  1100.145481
2018-02-18 09:55:00  1101.517670
2018-02-18 09:56:00  1102.064480
2018-02-18 09:57:00  1102.504756
2018-02-18 09:58:00  1101.694617
2018-02-18 09:59:00  1101.563858
...                          ...
2018-02-18 15:30:00  1097.171250
2018-02-18 15:31:00  1096.513653
2018-02-18 15:32:00  1096.183344
2018-02-18 15:33:00  1095.127500
2018-02-18 15:34:00  1094.992000
2018-02-18 15:35:00  1094.924109
2018-02-18 15:36:00  1095.858708
2018-02-18 15:37:00  1094.703414
2018-02-18 15:38:00  1095.543869
2018-02-18 15:39:00  1095.631150
2018-02-18 15:40:00  1095.430000
2018-02-18 15:41:00  1095.422908
2018-02-18 15:42:00  1095.395000
2018-02-18 15:43:00  1095.500000
2018-02-18 15:44:00  1095.665050
2018-02-18 15:45:00  1096.326686
2018-02-18 15:46:00  1096.895955
2018-02-18 15:47:00  1096.931053
2018-02-18 15:48:00  1097.840157
2018-02-18 15:49:00  1097.553458
2018-02-18 15:50:00  1096.694574
2018-02-18 15:51:00  1096.901778
2018-02-18 15:52:00  1096.835556
2018-02-18 15:53:00  1096.557547
2018-02-18 15:54:00  1097.115188
2018-02-18 15:55:00  1097.487010
2018-02-18 15:56:00  1097.421294
2018-02-18 15:57:00  1096.369116
2018-02-18 15:58:00  1095.736961
2018-02-18 15:59:00  1095.537222

[390 rows x 1 columns]